body {
  background-color: white;
}

.name {
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 20px; 
    width: 193px;
    height: 30px;
	padding-left: 9px; 
}
.name-btn {
    margin-left: 20px; 
    height: 35px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-left: 4px; 
    padding-right: 4px; 
    width: 209px; 
    border-radius: 5px; 
    outline: none; 
    border: 1px solid #b79a85;
}

#flask-name-tag {
  margin-top: 100px; 
}
.alert-warning {
  background-color: #f4f4d0a3;
  margin-top: 34px;
  margin-right: 41px;
  width: 800px;
  height: 53px;
  padding-bottom: 24px;
  padding-top: -1px;
  padding-left: 8px;
  border-radius: 11px;
  margin-bottom: 64px;
  float: right;

}
.close {
  margin-top: 11px;
  margin-left: 20px;
  background-color: #f7f7de;
  height: 45px;
  color: #bdadad;
  font-size: 39px;
  border: none;
  float: right;
  padding-right: 19px;
}
.message { 
  padding-top: 13px;
  float: left;
  padding-left: 20px;
  font-weight: 270;
}

