body {
  background-color: white;
  margin: 0 auto;
  padding: 0 auto;
}
a {
  outline: none;
  text-decoration: none;
  margin: 8px 8px 8px 8px;
  color: white;
}

.navigator {
  height: 60px;
  background-color: black;
  color: white;
  border: 2px solid black;
}

.left-section {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
}

.right-section {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
}

