{% extends "navigator.html" %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <title> Error </title>
  </head>
    <div class="error_message">
        <h2 style="padding-left: 50px;"> Bad Request </h2> 

  <body>

  </body>
{% endblock %}
