{% extends "navigator.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <title></title>
</head>
<body>
  <div class="">
      <!-- Adding flash message-->
      {% for message in get_flashed_messages() %}
      <div class="alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class="message" id="message">  
          {{ message }}
        </p>
      </div>
      {% endfor %}

      <div>
        <!-- <p> Hello: {{ name }} </p> -->
      </div>
    <!-- Creating random forms -->
      <form action="/login" method="POST">
          <input type="text" class="name" name="name" id="name" placeholder="What is your name" /> <br>
          <input type="submit" class="name-btn" id="name-btn" value="Submit Name"  /> <br>
      </form>

      <!-- Creating flask forms -->
      <form action="#" method="GET">
        <p> What is your name? </p>
        <!-- using flask parsed forms -->
        {{ form.name.label }} {{ form.name(id='flask-name-tag', class='flask-name-tag', key='0984853kdk356') }} <br> 
        {{ form.submit() }}
      </form>


        <a method="POST" style="color: black;" href="/clear"> <b> Click Here </b></a>
        
  </div>


    <!-- Adding javascript -->
    <script src="{{ url_for('static', filename='javascript/index.js') }}"> </script>
</body>
{% endblock %}

