<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/master.css')}}">
    <title></title>
  </head>

  <body>
    <div class="navigator" id="navigator">
        <div class="left-section" style="float: left;">
          <a href="#"> FLASKY </a>
          <a href="#"> HOME </a>
          <a href="#"> NOTIFICATIONS </a>
          <a href="#"> SIGNIN </a>
          <a href="#"> SIGNUP </a>
          <a href="#"> CONTACT US </a>
        </div>
        <div class="right-section" style="float: right">

        </div>
    </div>
    {% block content %}


    {% endblock %}
  </body>
</html>
